/******* register page ************/
.main-container{
    width: 100%;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container .container{
    background-color: rgb(255, 255, 255, 0.5);
    height: 400px;
    width: 400px;
    padding: 30px;
   
}
.main-container .container .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    text-align: center;
}
.main-container .container .main-content h1{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}
.main-container .container .main-content .input-field{
    width: 80%;
    padding: 10px 20px;
    margin: 15px;
    border: none;
    font-size: 20px;
}
button{
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    margin: 15px 0px;
    box-shadow: 0 9px #999;
}

/********* login page **************/
.login-page{
    background-image: url('https://cdn.pixabay.com/photo/2020/04/19/08/17/watercolor-5062356_1280.jpg');
}
.login-page .container .main-content h1{
    color: #24547F;
}
/***************** home page *****************/
.homepage-main{
    background-image: url('https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg');
}
.homepage-main .homepage-container{
    background-color: #5e3933a0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 500px;
}
.homepage-main .homepage-container .main{
    width: 90%;
}
.homepage-main .homepage-container .main h1{
    color: #fff;
    width: 100%;
}
.homepage-main .homepage-container .main .table,tr,th,td{
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}
th{
    color: #e5b7b3;
    font-size: 20px;
}
td{
    font-size: 18px;
    color: #fff;
}
.homepage-main .homepage-container .table tr:nth-child(1){
    width: 60%;
}